@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<div id="body">
    <p>Registered Address :-</p>
    <p>1 Tunsgate, Jarvis Lane</p>
    <p>Steyning</p>
    <p>West Sussex</p>
    <p>BN44 3EZ</p>
</div>