@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="photo">
    <div>
        <img src="images/laptop.jpg" width="618" height="354" alt="Yearwood Solutions Ltd" />
    </div>
</div>
<div id="search-news">
    <h2>Search this site</h2>
    <form action="">
        <div><input type="text" name="q" value="" id="q" /></div>
        <div class="more"><input type="image" name="search" value="" src="images/btn_search.gif" /></div>
    </form>

    <h2 class="downcast">News &amp; Events</h2>
    <div id="news-box">
        <h3><a href="#">@System.DateTime.Today.ToShortDateString()</a></h3>
        <p>More news to come.</p>
        <p class="more"><a href="#">more</a></p>
    </div>
</div>
<div class="clear"></div>
<div id="body">
    <div id="body-left">
        <h2><img src="images/h_welcome_to_our_site.gif" width="203" height="20" alt="H Welcome To Yearwood Solutions Ltd" /></h2>
        <p>
            Providing IT Consultancy
        </p>

        <p>
            Everyone likes something for FREE. Before any quotes take place we will make sure you understand the costs. 
            If you decide not to go ahead with the quote there is no charge..
        </p>

        <p>Complete website design services. From mobile user friendly, responsive and award winning websites; to SEO, CRO, UX, internet security and website speed optimisation.</p>

        <p>We have a range of support options available to choose from depending on your experience with the software. Support is delivered by email, telephone and online via screen-sharing.</p>
        <p class="more"><a href="#">more</a></p>
        <h2><img src="images/h_needs.gif" width="150" height="20" alt="Urgent Needs" /></h2>
        <img src="images/pic_3.jpg" width="139" height="118" alt="Pic 3" class="left" />
        <p><a href="#">.NET Soultions</a> We shortcut the process of getting software up-and-running effectively by working with you and your team to understand your business requirements in both short and longer term.</p>
        <ul class="plussbullets">
            <li><a href="#">Resolve urgent request</a></li>
            <li><a href="#">Highly skilled in .NET Core</a></li>
            <li><a href="#">Understand your business needs</a></li>
        </ul>
    </div>
    <div id="body-right">
        <p><img src="images/pic_2.jpg" width="321" height="93" alt="Pic 2" /></p>
        <br />
        <p>Providing professionally IT Consultancy Services</p>
        <br />
        <h2><img src="images/h_gallery.gif" width="65" height="22" alt="Gallery" /></h2>
        <div id="gallery">
            <a href="#"><img src="images/gal_1.jpg" width="101" height="96" alt="Gal 1" /></a>
            <a href="#"><img src="images/gal_2.jpg" width="114" height="96" alt="Gal 2" /></a>
            <a href="#"><img src="images/gal_3.jpg" width="112" height="96" alt="Gal 3" /></a>
        </div>
    </div>
    <div class="clear"></div>
</div>
